<!DOCTYPE html>
<html lang="en" xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <resource th:replace="fragments/header :: resource"></resource>
    <script src="./public/js/jquery.dataTables.min.js" th:src="@{js/jquery.dataTables.min.js}"></script>
    <script src="./public/js/jquery.dataTables.bootstrap.min.js"
            th:src="@{js/jquery.dataTables.bootstrap.min.js}"></script>
    <script src="./public/js/dataTables.buttons.min.js" th:src="@{js/dataTables.buttons.min.js}"></script>
    <script src="./public/js/buttons.flash.min.js" th:src="@{js/buttons.flash.min.js}"></script>
    <script src="./public/js/buttons.html5.min.js" th:src="@{js/buttons.html5.min.js}"></script>
    <script src="./public/js/buttons.print.min.js" th:src="@{js/buttons.print.min.js}"></script>
    <script src="./public/js/buttons.colVis.min.js" th:src="@{js/buttons.colVis.min.js}"></script>
    <script src="./public/js/dataTables.select.min.js" th:src="@{js/dataTables.select.min.js}"></script>

    <!-- ace scripts -->
    <script src="./public/js/ace-elements.min.js" th:src="@{js/ace-elements.min.js}"></script>
    <script src="./public/js/ace.min.js" th:src="@{js/ace-elements.min.js}"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        //<![CDATA[
        //]]>
    </script>
    <meta charset="UTF-8"/>
    <title>Danh sách nhân viên</title>
</head>
<body class="no-skin">
<nav th:replace="fragments/header :: navbar"></nav>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>
    <div th:replace="fragments/side-bar :: sidebar"></div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Trang chủ</a>
                    </li>

                    <li>
                        <a href="#">Nhân viên</a>
                    </li>
                    <li class="active">Danh sách nhân viên</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Mã nhân viên</th>
                                        <th>Họ tên</th>
                                        <th class="hidden-480">Ngày sinh</th>

                                        <th>
                                            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                            Số chứng minh
                                        </th>
                                        <th class="hidden-480">Status</th>

                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="employee : ${employees}">
                                        <td>
                                            <span th:text="${employee.empId}"
                                                  th:field="*{employee[__${stat.index}__].empId}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${employee.epName}"></span>
                                        </td>
                                        <td class="hidden-480">
                                            <span th:text="${employee.epDayofbirth}"></span>
                                        </td>
                                        <td>
                                            <span th:text="${employee.epCmt}"></span>
                                        </td>
                                        <td class="hidden-480" th:switch="${employee.status}">
                                            <b>
                                                <span style="color: green" th:case="FREE"
                                                      th:text="${employee.status}"></span>
                                                <span style="color: red" th:case="BUSY"
                                                      th:text="${employee.status}"></span>
                                            </b>
                                        </td>
                                        <td>
                                            <div class="hidden-sm hidden-xs btn-group">
                                                <button class="btn btn-xs btn-success">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>

                                                <a class="btn btn-xs btn-info"
                                                   th:href="@{edit-employee/{empId}(empId=${employee.empId})}">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>

                                                <a class="btn btn-xs btn-danger"
                                                   th:href="@{delete-employee/{empId}(empId=${employee.empId})}">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </a>

                                                <button class="btn btn-xs btn-warning">
                                                    <i class="ace-icon fa fa-flag bigger-120"></i>
                                                </button>
                                            </div>

                                            <div class="hidden-md hidden-lg">
                                                <div class="inline pos-rel">
                                                    <button class="btn btn-minier btn-primary dropdown-toggle"
                                                            data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                        <li>
                                                            <a href="#" class="tooltip-info" data-rel="tooltip"
                                                               title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a th:href="@{edit-employee/{empId}(empId=${employee.empId})}">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" class="tooltip-error" data-rel="tooltip"
                                                               title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.span -->
                        </div><!-- /.row -->
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>