<!DOCTYPE html>
<html lang="en" xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <resource th:replace="fragments/header :: resource"></resource>
    <meta charset="utf-8"/>
    <title>Login Page</title>
</head>

<body class="login-layout light-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-leaf blue"></i>
                            <span class="grey" id="id-text2">Quản lý dự án</span>
                        </h1>
                        <h4 class="blue" id="id-company-text">&copy; Zamo LLC</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="header blue lighter bigger">
                                        <i class="ace-icon fa fa-coffee blue"></i>
                                        Thông tin đăng nhập
                                    </h4>

                                    <div class="space-6"></div>

                                    <form th:action="@{/login}" method="post">
                                        <fieldset>
                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="username" type="text" class="form-control"
                                                                   placeholder="Username"/>
															<i class="ace-icon fa fa-user"></i>
														</span>
                                            </label>

                                            <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="password" type="password" class="form-control"
                                                                   placeholder="Password"/>
															<i class="ace-icon fa fa-lock"></i>
														</span>
                                            </label>

                                            <div class="space"></div>

                                            <div class="clearfix">
                                                <button type="submit"
                                                        class="width-45 pull-right btn btn-sm btn-primary">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">Đăng nhập</span>
                                                </button>
                                            </div>

                                            <div class="space-4"></div>
                                        </fieldset>
                                    </form>
                                </div><!-- /.widget-main -->

                                <div class="panel-heading clearfix">
                                    <center>
                                        <div>
                                            <b style="color: red" th:if="${param.error}">Sai tên đăng nhập hoặc mật khẩu</b>
                                        </div>

                                        <div>
                                            <b style="color: green" th:if="${param.logout}">Bạn đã đăng xuất</b>
                                        </div>
                                    </center>
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="./public/js/jquery-2.1.4.min.js" th:src="@{js/jquery-2.1.4.min.js}"/>

<!-- <![endif]-->

<!--[if IE]>
<script src="./public/js/jquery-1.11.3.min.js" th:src="@{js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<!--<script type="text/javascript">-->
<!--if('ontouchstart' in document.documentElement) document.write("<script src='./public/js/jquery.mobile.custom.min.js'>"+"&lt;"+"/script>");-->
<!--</script>-->

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });
</script>
</body>
</html>
